
// As hex codes */

$color-primary-0: #1642E2;	// Main Primary color */
$color-primary-1: #A3B4F4;
$color-primary-2: #5071E8;
$color-primary-3: #09289B;
$color-primary-4: #04144F;

// As RGBa codes */

$rgba-primary-0: rgba( 22, 66,226,1);	// Main Primary color */
$rgba-primary-1: rgba(163,180,244,1);
$rgba-primary-2: rgba( 80,113,232,1);
$rgba-primary-3: rgba(  9, 40,155,1);
$rgba-primary-4: rgba(  4, 20, 79,1);

