@import '_bootstrap.scss';
@import '_bootstrap-compass.scss';
@import '_bootstrap-mincer.scss';
@import '_bootstrap-sprockets.scss';
@import '_variables.scss';


html, body{
    height: 100%;
}

.logo{
    position: relative;
    top: 5px;
    width: 110px;
    height: 40px;
}

.blue-text{
    color: $color-primary-2;
}

.sans-font{
    font-family: sans-serif;
}

// ===========================================

/* Fullscreen Background */

body{
    margin: 0;
    background-image: url(../images/city-lights-2.jpg);
    background-size: 100% auto;
    padding-bottom: 50%;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1010;
    
    
    
}

// ===========================================

/* Background Video */

.marginBottom-0{
    margin-bottom :0;
}

.background-video {
    width: 100%;
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;

}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
}
.video-container .description .inner {
    font-size: 1.5em;
    width: 45%;
    margin: 0 auto;
}
.video-container .link {
    position: absolute;
    bottom: 3em;
    width: 100%;
    text-align: center;
    z-index: 1001;
    font-size: 2em;
    color: #fff;
}
.video-container .link a {
    color: #fff;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth, carousel-inner{
    width: 100%;
}

.headline h1{
    font-size: 3em;
}

// ===========================================

/* Carousel HEADER */

.carousel {
    margin-bottom: 60px;
}

.carousel .container-carousel {
    position: relative;
    z-index: 9;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 8em;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel .item {
    height: 500px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 0px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}

//========================================

/* Section with text */

section .container{
    padding: 35px;
}

.section-title{
    
    span{
        font-size: 0.8em;
        color: $color-primary-0;
    }
    
}

.letter-spacing{
    font-family: sans-serif;
    letter-spacing: 1px;
}

#parallelogram {
    background-color: $color-primary-1;
    width: 5000px;
    min-height: 100%;
    -webkit-transform: skew(135deg);
    -moz-transform: skew(135deg);
    -o-transform: skew(135deg);
    position: absolute;
    right: 50%;
    top: 100%;
    z-index: -999;
}

/* Footer */

.footer-background{
    padding: 25px;
    background-color: $color-primary-4;
}

.logo-footer{
    position: relative;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 200px;
    
    margin-left: -125px;
}

.col-contact, .col-adress{
    color: azure;
    text-align: center;
    
    p{
        font-size: 1.3em;
    }
    
    span{
        color: $color-primary-2;
    }
}

// ========================================


/* Copyrights */

.copyright-bgn{
    height: 50px;
    background-color: #1d1d1d;
    
    p{
        line-height: 50px;
        color: $color-primary-2;
        margin: 0;
    }
}

/* Gallery */


.img-box{
    margin: 10px;
    width: 350px;
    height: 250px;
    overflow: hidden;

    
    img{
        margin-left: -15px;
        -webkit-filter: grayscale(80%); /* Safari */
        filter: grayscale(80%);
        width: 350px;;
        height: 100%;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    img:hover{
        -webkit-filter: none;
        filter: none;
//        width: 450px;
//        height: 350px;
        -webkit-transform: scale(1.32) rotate(15deg);
        transform: scale(1.32) rotate(15deg);
    }
}



.images{ //Transport sites
    
    .img-responsive{
        margin-top: 25px;
    }
    
}
// ========================================